@import "../helpers/helpers.scss";
.BannerScrollTxt{
  height: 100vh;
	position: relative;
  overflow: hidden;
  background-color: blue;
  .aniTxt{
    position: absolute;
    z-index: 1;
  }
  .bubbles{
    position: absolute;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.33);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    filter: blur(16);
    -webkit-animation: animateBubble 10s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: animateBubble 10s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 10s linear infinite, sideWays 4s ease-in-out infinite alternate;
  }
  .bubbles1{
    position: absolute;
    left: 150px;
    background-color: rgba(255, 255, 255, 0.33);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    filter: blur(16);
    -webkit-animation: animateBubble 10s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: animateBubble 10s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 10s linear infinite, sideWays 4s ease-in-out infinite alternate;
  }
}
.BannerScrollTxtTwo{
  min-height: 100vh;
  background-color: black;
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
  0% {
      margin-top: 1000px;
  }
  100% {
      margin-top: -100%;
  }
}

@keyframes animateBubble {
  0% {
      margin-top: 1000px;
  }
  100% {
      margin-top: -100%;
  }
}

@-webkit-keyframes sideWays { 
  0% { 
      margin-left:0px;
  }
  100% { 
      margin-left:50px;
  }
}

@keyframes sideWays { 
  0% { 
      margin-left:0px;
  }
  100% { 
      margin-left:50px;
  }
}